<main class="d-flex w-100 flex-grow-1">
  <section class="d-flex flex-column align-items-center w-100">
    <h1 class="bg-info-subtle p-2 text-center text-info w-100">LOGIN FORM</h1>
    <form class="d-flex flex-column w-25 m-3" id="login-form">
      <input
        class="m-2 p-2 text-center"
        type="email"
        name="email"
        id="email"
        placeholder="EMAIL"
        required
      />
      <input
        class="m-2 p-2 text-center"
        type="password"
        name="password"
        id="password"
        placeholder="PASSWORD"
        required
      />
      <input
        class="m-2 p-2 text-center btn btn-primary"
        type="submit"
        value="LOGIN"
        id="login"
      />
    </form>
  </section>
</main>
<script>
  document.getElementById("login").addEventListener("click", async (e) => {
    e.preventDefault()
    const userData = {
      email: document.getElementById("email").value,
      password: document.getElementById("password").value
    }
    const opts = {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(userData)
    }
    try {
      let response = await fetch("/api/sessions/login", opts);
      response = await response.json()
      console.error(response);
      
      if(response.statusCode === 201){
        sessionStorage.setItem('online', true);
        window.location.replace('/')
      } else {
        throw new Error(response.message)
      }
    } catch (error) {
      console.error('Error:', error);
      alert('Login failed: ' + error.message);
    }
  })
</script>
