<div class="container">
    <h1 class="m-3 w-100 text-center">PRODUCTS</h1>
    <div id="products" class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  socket.on("products", (data) => {
    console.log((data))
    let template = ``
    template = data.map(prod => `
        <div class="col mb-4">
            <div class="card">
                <h2 class="card-body">ID: ${prod.id}</h2>
                <div class="card-body">
                    <img src="${prod.photo}" class="card border" alt="product-photo">
                </div>
                <div class="card-body">
                    <h3 class="card-title">Title: ${prod.title}</h3>
                    <h4 class="card-text">Category: ${prod.category}</h4>
                    <h4 class="card-text">Price: ${prod.price}</h4>
                    <h5 class="card-text">Stock: ${prod.stock}</h5>
                    <button class="btn btn-primary">More details</button>
                </div>
            </div>
        </div>
    `).join("")
    document.getElementById("products").innerHTML = template
  })
</script>