<div class="container">
    <h1 class="m-3 w-100 text-center">PRODUCTS</h1>
    <div id="products" class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<style>
    .card {
        height: 100%;
    }
    .card-img-top {
        max-height: 500px; 
        object-fit: cover; 
        width: 100%;
    }
    a { 
        text-decoration: none;
        color: black;
    }
</style>
<script>
    const socket = io();
    socket.on("products", (data) => {
        let template = ``
        template = data.map(prod => `
            <div class="col mb-4">
                <div class="card">
                    <img src="${prod.photo}" class="card-img-top img-fluid h-100" alt="product-photo">
                    <div class="card-body">
                        <h5 class="card-title">${prod.title}</h5>
                        <p class="card-text">Category: ${prod.category}</p>
                        <p class="card-text">Price: ${prod.price}</p>
                        <p class="card-text">Stock: ${prod.stock}</p>
                        <p class="card-text">ID: ${prod._id}</p>
                    </div>
                <div class="card-footer">
                    <a href="/search/${prod._id}">
                        <button class="btn btn-primary w-100">Add to cart</button>
                    </a>
                </div>
            </div>
            </div>
        `).join("")
        document.getElementById("products").innerHTML = template
    })
</script>