<div class="container">
    <h1 class="m-3 w-100 text-center">PRODUCTS</h1>
    <div class="container register-product border mb-5">
        <h2>REGISTER A NEW PRODUCT</h2>
        <form class="row g-3 justify-content-center">
            <div class="col-md-6">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Enter a Title">
            </div>
            <div class="col-md-6">
                <label for="photo_url" class="form-label">Product URL:</label>
                <input type="url" class="form-control" id="photo_url" placeholder="Enter a product URL">
            </div>
            <div class="col-md-6">
                <label for="category" class="form-label">Category:</label>
                <input type="text" class="form-control" id="category" placeholder="Enter a category">
            </div>
            <div class="col-md-6">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class="form-control" id="price" placeholder="Enter a price">
            </div>
            <div class="col-md-6">
                <label for="stock" class="form-label">Stock:</label>
                <input type="number" class="form-control" id="stock" placeholder="Enter stock">
            </div>
            <div class="col-md-12 text-center">
                <button id="btn-register-product" type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    <div id="products" class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  socket.on("products", (data) => {
    console.log((data))
    let template = ``
    template = data.map(prod => `
        <div class="col mb-4">
            <div class="card">
                <img src="${prod.photo}" class="card-img-top" alt="product-photo">
                <div class="card-body">
                    <h5 class="card-title">Title: ${prod.title}</h5>
                    <p class="card-text">Category: ${prod.category}</p>
                    <p class="card-text">Price: ${prod.price}</p>
                    <p class="card-text">Stock: ${prod.stock}</p>
                    <p class="card-text">ID: ${prod.id}</p>
                    <button class="btn btn-primary">More details</button>
                </div>
            </div>
        </div>
    `).join("")
    document.getElementById("products").innerHTML = template
    document.getElementById("btn-register-product").addEventListener("click", async ()=> {
        const title = document.getElementById("title").value
        const photo_url = document.getElementById("photo_url").value
        const category = document.getElementById("category").value
        const price = document.getElementById("price").value
        const stock = document.getElementById("stock").value
        socket.emit("register-product", { title, photo_url, category, price, stock})
    })
  })
</script>