<div class="container">
    <h1 class="m-3 w-100 text-center">PRODUCT DETAILS</h1>
    <div id="product" class="justify-content-center">
      <h2>{{productById.title}}</h2>

    </div>
</div>
<script src="/socket.io/socket.io.js">
  console.log(location)
</script>
<script></script>