<main style="margin: 20px;" class="main-container">
    <div class="correo">
        <h1>Recover your password</h1>
        <p class="mb-4">Ingrese el correo electrónico para recuperarconstraseña</p>
        <form id="recoverPasswordForm">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Ej: fer@gmail.com"
                    required
                />
            </div>
            <button id="recover" type="submit" class="btn btn-primary btn-block">Recuperar Contraseña</button>
        </form>
    </div>
    <div id="verify_code" style="display: none;" class="verify-code">
        <h1>Verificación de Código</h1>
        <label for="code" class="form-label">Código de verificación</label>
        <form action="/verify-code" method="POST">
            <div class="mb-3">
                <label for="code">Ingresa el código de verificación:</label>
                <input type="text" id="code" name="code" class="form-control my-3" required>
                <button type="submit" class="btn btn-primary btn-block">Verificar</button>
            </div>
        </form>
    </div>
</main>

<script>
    document.getElementById('recover').addEventListener('click', async (e) => {
        e.preventDefault(); 
        const email = { email: document.getElementById('email').value }
        try{
            let response = await fetch('/api/sessions/recover-password', {
                method: "POST",
                headers: { "Content-Type" : "application/json"},
                body: JSON.stringify(email)
            });
            response = await response.json()
            if(response.statusCode == 200){
                 alert('Código enviado')
                document.getElementById('verify_code').style.display = 'block';
            } else {
                 alert(response.message)
            }
        } catch(error){
            console.log(error)
        }
    });
</script>