<main id="main-mail-verification" style="margin: 20px;" class="main-container">
    <div class="correo">
        <h1>Recover your password</h1>
        <p class="mb-4">Ingrese el correo electrónico para recuperarconstraseña</p>
        <form id="recoverPasswordForm">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Ej: fer@gmail.com"
                    required
                />
            </div>
            <button id="recover" type="submit" class="btn btn-primary btn-block">Recuperar Contraseña</button>
        </form>
    </div>
    <div id="verify_code" style="display: none;" class="verify-code">
        <h1>Verificación de Código</h1>
        <label for="code" class="form-label">Código de verificación</label>
        <form>
            <div class="mb-3">
                <label for="code">Ingresa el código de verificación:</label>
                <input type="text" id="code" name="code" class="form-control my-3" required>
                <button id="verify_code_btn" type="submit" class="btn btn-primary btn-block">Verificar</button>
            </div>
        </form>
    </div>
</main>
<main id="main-new-password" style="margin: 20px; display: none; " class="main-container">
    <div class="inputs">
        <h1>Indiqué su nueva contraseña</h1>
        <label for="code" class="form-label">Código de verificación</label>
        <form>
            <div class="mb-3">
                <label for="code">Nueva contraseña:</label>
                <input type="password" id="password-1" name="password" class="form-control my-3" required>
                <label for="code">Repetir nueva contraseña:</label>
                <input type="password" id="password-2" name="password" class="form-control my-3" required>
                <button id="change_password_btn" type="submit" class="btn btn-primary btn-block">Aceptar</button>
            </div>
        </form>
    </div>
</main>

<script>
    document.getElementById('recover').addEventListener('click', async (e) => {
        e.preventDefault(); 
        const email = { email: document.getElementById('email').value }
        try{
            let response = await fetch('/api/sessions/recover-password', {
                method: "POST",
                headers: { "Content-Type" : "application/json"},
                body: JSON.stringify(email)
            });
            response = await response.json()

            if(response.statusCode == 200){
                alert(response.message)
                document.getElementById('verify_code').style.display = 'block';
                document.getElementById('verify_code_btn').addEventListener('click', async (e) => {
                    e.preventDefault(); 
                    try{
                        const codeInserted = { code: document.getElementById("code").value }
                        let verifyCode = await fetch('/api/sessions/verify_code', {
                            method: "POST",
                            headers: { "Content-Type" : "application/json"},
                            body: JSON.stringify(codeInserted)
                        });
                        verifyCode = await verifyCode.json();

                        if(verifyCode.statusCode == 200){
                            alert(verifyCode.message);
                            document.getElementById('main-mail-verification').style.display = 'none';
                            document.getElementById('main-new-password').style.display = 'flex';
                            functionsForChangePass(email);
                        } else {
                            alert(verifyCode.message);
                        }
                    } catch(error) {
                        console.log(error)
                    }
                })
            } else {
                 alert(response.message)
            }
        } catch(error){
            console.log(error)
        }
    });
    function functionsForChangePass (email) {
        document.getElementById('change_password_btn').addEventListener('click', async (e) => {
            e.preventDefault();

            const pass1 = document.getElementById('password-1').value;
            const pass2 = document.getElementById('password-2').value;
            if(pass1 !== pass2){
                alert('Passwords dont match');
            } else {
                const newPass = {
                    email: email.email,
                    password: pass1
                }

                let changePassword = await fetch('/api/sessions/new_password', {
                    method: "PUT",
                    headers: { "Content-Type" : "application/json"},
                    body: JSON.stringify(newPass)
                })
                changePassword = await changePassword.json();
                if(changePassword.statusCode == 200){
                    alert(changePassword.message);
                    sessionStorage.setItem('online', 'true');
                    window.location.replace('/');
                }
            }
        })
    }
</script>