<main class="d-flex w-100 flex-grow-1">
  <section class="d-flex flex-column align-items-center w-100">
    <h1
      class="bg-info-subtle p-2 text-center text-info w-100"
    >PROFILE</h1>
    <section
      class="d-flex flex-column justify-content-center align-items-center w-25 m-3"
    >
      <h3 class="m-2 p-2 text-center">EMAIL: {{users.email}}</h3>
      <img
      id="user_photo"
        style="width: 360px; height: 360px"
        class="m-2 object-fit-cover"
        src="{{users.photo}}"
      />
    </section>
  </section>
</main>
<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const opts = {
          method: "POST",
          headers: { "Content-Type" : "application/json"}
        }
    let resp = await fetch("/api/sessions/online", opts)
    resp = await resp.json()
    if(resp.statusCode === 200){
      let user = await resp.session
      document.getElementById("user_photo").src = user.photo
    } else {
       alert("Debes iniciar sesion primero");
    }
  })
</script>